@media screen and (max-width: 1024px) and (min-width: 420px) {
    .navbar-toggler {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    .section-2 .row .col-md-3 {
        width: 50%;
    }

    .box-title {
        font-size: 12px;
        padding-top: 10px;
    }

    .box-info {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .section-2 .row .col-sm-12 {
        width: 100%;
    }
    .section-2 .row .col-md-12 {
        height: auto;
        padding-bottom: 0;
     }
}


@media screen and (max-width: 320px) {
    header .navbar-brand {
        padding-left: 1rem;
    }

    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover {
        background-position: -25vmin -10vmin;
    }

    .section-2 .row .col-sm-12 {
        width: 100%;
    }

    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
}