@media screen and (max-width: 900px) {
    .section-2 .col-md-3 {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .section-2 .col-md-3 {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    header .navbar-brand {
        padding-left: 1rem;
    }

    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover {
        background-position: -25vmin -10vmin;
    }

    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
}